<div class="col-sm-12 col-md-3">
  <div class="h-100 lol">
    <div>
      <div id="start-article" class="d-flex">
        <img class="avatar" src="https://via.placeholder.com/80" alt="">
        <div>
          <p>START</p>
          <h3>Biden</h3>
        </div>
      </div>
      <div id="end-article" class="d-flex">
        <img class="avatar" src="https://via.placeholder.com/80" alt="">
        <div>
          <p>GOAL</p>
          <h3>Jazz</h3>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-12 col-md-9">
  <div class="h-100 lol">
  </div>
</div>
