<div class="modal-header">
  <h1 class="modal-title">CONGRATULATIONS</h1>
</div>
<div class="modal-body">
  <p>You have reached the goal</p>
  <div class="spacer">
    <hr>
    <img class="avatar" src="https://via.placeholder.com/60">
    <p><%= @game_session.game.end_url.gsub(/_/, ' ') %></p>
    <hr>
  </div>
  <p>with <strong><%= @game_session.clicks.count %></strong> clicks in <span id="finish" class="fw-bold"></span>!</p>
</div>
<div class="modal-footer">
  <%= link_to "BACK TO LOBBY", lobby_path, class: 'button large filled'  %>
</div>
