// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$purple-primary: #3F369B;
$dark-text: #070529;
$offwhite: #F9F9FB;

$purple-gradient: linear-gradient(#3F369B, #332C80);
$fire-gradient: linear-gradient(#FF7445, #FF3C01);

$shadow-main: 0 0 50px 0 rgba(0, 0, 0, 0.05);
