<div class="chat" style="height:100%">
  <div class="message-board">
    <p class='message'><span>Username:</span> Let's play mothertruckers!</p>
    <p class='message'><span>Username:</span> Let's play mothertruckers!</p>
    <p class='message'><span>Username:</span> Let's play mothertruckers!</p>
    <p class='message'><span>Username:</span> Let's play mothertruckers!</p>
    <p class='message'><span>Username:</span> Let's play mothertruckers!</p>
    <p class='message'><span>Username:</span> Let's play mothertruckers!</p>
    <p class='message'><span>Username:</span> Let's play mothertruckers!</p>
    <p class='message'><span>Username:</span> Let's play mothertruckers!</p>
    <p class='message'><span>Username:</span> Let's play mothertruckers!</p>
    <p class='message'><span>Username:</span> Let's play mothertruckers!</p>
    <p class='message'><span>Username:</span> Let's play mothertruckers!</p>
    <p class='message'><span>Username:</span> Let's play mothertruckers!</p>
    <p class='message'><span>Username:</span> Let's play mothertruckers!</p>
    <p class='message'><span>Username:</span> Let's play mothertruckers!</p>
  </div>
  <div class="input-group align-content-end">
    <div class="message-content"><input type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)"><span><i class="fas fa-paper-plane"></i></span></div>
  </div>
</div>
