<div class="modal fade" id="scoreModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title">CONGRATULATIONS</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
              <div class="modal-body">
            <div>
              <h2 class= "bg-modal">You have reached the goal</h2>
              </div>
            </div>
            <div class="spacer">
              <hr>
                <img class="avatar" src="https://via.placeholder.com/60" alt="Jazz">
                <p>Jazz</p>
              <hr>
              </div>
                <p>with 3 clicks in 27 seconds!
                </p>
            <div class="modal-footer">
              <input type="button" value="PLAY AGAIN" class='button large filled' href="/start"></a>
              <input type="button" value="BACK TO LOBBY" class='button large filled' data-bs-dismiss="modal"></button>
            <%# <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button> %>
          </div>
      </div>
    </div>
</div>
