.content {
}

.loginform-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $white;
  box-shadow: 15px 25px 20px rgba(63, 54, 155, 0.1);
  font-size: 1rem;
  border-radius: 30px;
  text-align: center;

  @media (max-width: 1200px) {
    padding: 65px;
  }

  @media (max-width: 991px) {
    padding: 20px;
  }

  p {
    text-align: center;
    letter-spacing: 0.1em;
  }

  .guest-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
      margin: .8rem;
      white-space: pre-line;
    }

    input {
      border: none;
      color: $gray-text;
      background: $button-gray;
      border-radius: 15px;
      text-align: center;
      letter-spacing: 0.1em;
      margin: .8rem;
    }
  }

  .spacer {
    display: flex;
    justify-content: center;
    align-items: center;

    hr {
      width: 35px;
    }

    p {
      margin: 0;
      color: $gray-text;
    }
  }

  .connect-account {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;

    p {
      white-space: pre-line;
      margin: 10px;
    }
  }

  .icons {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 10px;
    margin: 10px;

    a {
      text-decoration: none;
    }

    .icon {
      width: 35px;
      height: 35px;
      align-items: center;
      display: flex;
      border-radius: 50%;
      font-size: 16px;
      color: $white;
      justify-content: center;

      &_discord {
        background-color: #7289da;
      }

      &_twitch {
        background-color: #5a3e85;
      }

      &_google {
        background-color: #EA4335;
      }
    }
  }

  .btn-enter {
    position: relative;
    align-items: center;
    padding: 10px 30px;
    border-radius: 100px;
    color: $white;
    font-size: 18px;
    text-decoration: none;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    background: $fire-gradient;
    transition: box-shadow 0.15s ease-in-out;
    border: none;
    margin-top: 15px;
    margin-bottom: 25px;

    &:hover {
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.45);
      background: linear-gradient(180deg, $orange-dark 0%, $orange-dark 100%);
      transition: all 0.15s ease-in-out;
    }
  }
}
