// Specific CSS for your home-page
.content {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 90px;

  font-family: Source Sans Pro;
  font-size: 16px;
  color: $dark-text;
}

.loginform-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  background: #fff;
  box-shadow: 15px 25px 20px rgba(63, 54, 155, 0.1);
  font-size: 16px;
  border-radius: 30px;
  text-align: center;

  p {
    text-align: center;
    letter-spacing: 0.1em;
  }

  .guest-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;

    p {
      white-space: pre-line;
    }

    input {
      border: none;
      color: #9ea7be;
      background: #f6f6fe;
      border-radius: 15px;
      padding: 15px;
      text-align: center;
      letter-spacing: 0.1em;
    }
  }

  .rules-instructions-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 55px;
    border-radius: 40px;
  }

  .spacer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;

    hr {
      width: 35px;
    }

    p {
      margin: 0;
      color: #9ea7be;
      padding: 0 15px;
    }
  }

  .connect-account {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;

    p {
      white-space: pre-line;
    }
  }

  .icons {
    display: flex;
    width: 100%;
    justify-content: space-around;

    .icon {
      width: 35px;
      height: 35px;
      align-items: center;
      display: flex;
      border-radius: 50%;
      font-size: 16px;
      color: white;
      justify-content: center;

      &_discord {
        background-color: #7289da;
      }

      &_twitch {
        background-color: #5a3e85;
      }
    }
  }
}
