.content {
}

.loginform-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 1;
  align-items: center;
  background: $white;
  box-shadow: 15px 25px 20px rgba(63, 54, 155, 0.1);
  font-size: 1rem;
  border-radius: 30px;
  text-align: center;
  padding: 2.5rem;
  margin-left: 10%;

    button {
      border: none;
    }

  .btn-enter {
    position: relative;
    align-items: center;
    padding: 0.625rem 1.9rem;
    border-radius: 100px;
    color: $white;
    font-size: 1.125rem;
    text-decoration: none;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    background: $fire-gradient;
    transition: box-shadow 0.15s ease-in-out;
    margin-top: 0.9rem;
    margin-bottom: 1rem;
    border: none;

    &:hover {
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.45);
      background: linear-gradient(180deg, $orange-dark 0%, $orange-dark 100%);
      transition: all 0.15s ease-in-out;
    }
  }

  @media (max-height: 900px) {

    max-height: 29rem;

    p {
      margin: .2rem;
    }

    input {
      margin: .3rem;
    }
  }

  @media (max-width: 1200px) {
    padding: 65px;
  }

  @media (max-width: 991px) {
    font-size: .75rem;
    padding: 1.25rem;
  }

  p {
    text-align: center;
    letter-spacing: 0.1em;
  }

  .guest-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
      margin: .8rem;
      max-width: 150px;
    }

    input[type=text] {
      border: none;
      color: $gray-text;
      background: $button-gray;
      border-radius: 15px;
      text-align: center;
      letter-spacing: 0.1em;
    }

    @media (max-height: 800px) {
      p {
        margin: .2rem;
      }
    }
  }

  .spacer {
    display: flex;
    justify-content: center;
    align-items: center;

    hr {
      width: 2.2rem ;
    }

    p {
      margin: 0;
      color: $gray-text;
    }
  }

  .connect-account {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.625rem;

    p {
      max-width: 150px;
      margin: 0.625rem;
    }

    @media (max-height: 800px) {

      padding: .3rem;

      p {
        margin: .1rem;
      }
    }
  }

  .icons {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 0.625rem;
    margin: 0.625rem;

    @media (max-height: 800px) {
      margin: .2rem;
      margin-bottom: .1rem;
    }

    a {
      text-decoration: none;
    }

    .icon {
      width: 2.2rem;
      height: 2.2rem;
      align-items: center;
      display: flex;
      border-radius: 50%;
      font-size: 1rem;
      color: $white;
      justify-content: center;

      &_discord {
        background-color: #7289da;
      }

      &_twitch {
        background-color: #5a3e85;
      }

      &_google {
        background-color: #EA4335;
      }
    }
  }
}
