.lobby-div {
  height: 100%;
}

.container-lobby {
  background-color: $white;
  height: 100%;

  .settings {
    background: #f9f8f8;
    box-shadow: -10px 10px 25px rgba(255, 116, 69, 0.03);
    border-radius: 25px;
    color: $purple-primary;
    border: none;
  }

  .dropdown-toggle {
    color: $purple-primary;
  }

  .input-group-text {
    border: none;
  }

  .form-control{
    background-color: rgb(255, 255, 255);
    border: none;
  }

  .placehold {
    background: $fire-gradient;
  }

  .text-uppercase {
    border-bottom: 2px $orange-dark solid;
  }

  .lobby-owner {
    border-radius: 15px;
  }

  .lobby-player {
    height: 85px;
  }

  .players-container {
    max-height: calc(100% - 65px);
    height: 100%;
    border-radius: 20px 20px 0 0;
  }

  .lobby-settings-container {
    max-height: calc(100% - 25px);
  }

  .game-mode {
    flex: auto;
    background-color: $white;

    &:hover {
      cursor: pointer;
      background-color: $button-gray;
      border: 2px $purple-primary solid;
    }
  }

  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .alert {
    width: max-content;
  }

  .modes-container {
    border-radius: 20px;
  }

  .user-badge {
    width: 23px;
    height: 23px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    background-color: $button-gray;

    .fa-user-slash {
      font-size: 0.7rem;
    }
  }

  .btn-enter {
    position: relative;
    align-items: center;
    padding: 1.1rem 2.5rem;
    border-radius: 100px;
    color: $white;
    font-size: 1rem;
    text-decoration: none;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    background: $fire-gradient;
    transition: box-shadow 0.15s ease-in-out;
    border: none;
    margin-top: 0.9rem;
    margin-bottom: 1rem;
    letter-spacing: 0.1rem;

    &-outline {
      background-color: white;
      color: $purple-primary;
      border: 2px solid $purple-primary;
      align-items: center;
      padding: 0.5rem 1rem;
      border-radius: 100px;
      left: -5px;
      top: -55px;

      &:hover {
        color: $white;
        background-color: $purple-primary;
      }
    }

    &:hover {
      color: $white;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.45);
      background: linear-gradient(180deg, $orange-dark 0%, $orange-dark 100%);
      transition: all 0.15s ease-in-out;
    }
  }

  .message_board {
    border-radius: 10px;
    background: linear-gradient(179.75deg, #fefefe 50.19%, #f0f0f9 99.76%);
    box-shadow: 25px 25px 34px rgba(63, 54, 155, 0.08);

    .input-group-text {
      background: white;
      border-left: white;
      color: $purple-primary;
      border-radius: 10px;
    }

    .form-control {
      background: white;
      border-right: white;
      border-radius: 10px;
      button {
        border: none;
      }
    }
  }
  .modal-dialog {
    top: 40vh;
  }

  .modal-content {
    border-radius: 20px;
    width: 350px;
    height: 200px;
    letter-spacing: 0.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;

    .edit_lobby {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    abbr {
      display: none;
    }

    .form-group {
      text-align: center;
      margin-bottom: 20px;

      label {
        margin-bottom: 20px;
      }
    }
  }
  /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: rgb(159, 137, 180);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: $purple-primary;
}

input:focus + .slider {
  box-shadow: 0 0 1px $purple-primary;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}
}


.lobby-current-user {
  background: $fire-gradient;
}


.player-is-ready {
  color: green;
  transform: scale(1.3);
}

.fa-check-circle {
  transition: transform 300ms ease-in-out;
}
