.container-lobby {
  background-color: white;
}


.placehold {
  background: $fire-gradient;
}

.text-uppercase {
    text-decoration: underline #FD6533;;
}

.lobby-owner {
  border-radius: 15px;
}

.players-container{
  border-radius: 20px 20px 0 0;
}
/*
#game-banner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media (max-width: 767px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 2rem;
  }
  img {
    @media (max-width:767px) {
      height: 45px;
      width: 45px;
    }
  }
  h3 {
    @media (max-width:767px) {
      font-size: 24px;
    }
  }
}

#game-stats {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  @media (max-width: 767px) {
    flex-direction: column;
  }
}

#player-list {
  @media (max-width: 767px) {
    display: none;
  }
}
 */
