<% if user.game_sessions.playing.first  %>
  <% game_session = user.game_sessions.playing.first %>
<% else  %>
  <% game_session = user.game_sessions.open.first %>
<% end  %>

<div data-play-banner-target="players"
     class="d-flex align-items-center p-1" <%= "class=current-player" if current_user == user %>
     id="<%= dom_id(game_session) %>">
  <h5 class="flex-fill text-truncate"><%= user.username %></h5>
  <p class="num-clicks"><%= game_session.clicks %></p>
  <i class="fas fa-hand-point-up ms-1"></i>
</div>
