<div data-play-banner-target="players"
     class="d-flex align-items-center p-1 <%= 'user-highlight-play' if current_user == game_session.user %>",
     id="<%= dom_id(game_session) %>">
  <h5 class="flex-fill text-truncate"><%= game_session.user.username %></h5>
  <p class="num-clicks"><%= game_session.clicks %></p>
  <i class="fas fa-hand-point-up ms-1"></i>
</div>
