
<div>
  <a href="#" class="button small filled">ENTER</a>
  <a href="#" class="button small empty">EXIT</a>
  <a href="#" class="button large filled">INVITE</a>
  <a href="#" class="button large empty">JOIN</a>
</div>
