
<div class="d-flex flex-column h-100 justify-content-center">
  <div class="container-lg position-relative">
    <div id="title-banner">
      <div class="d-flex align-items-center">
        <h1>SPEEDRUN</h1>
        <p>THE NET</p>
      </div>
    </div>
    <div id="main-overlay" class="row justify-content-center">
    </div>
  </div>
</div>
