<div id="ready-start-buttons">
<% if user == session.lobby.owner %>
  <%= button_to 'Start', owner_start_path(start_url: 'Joe_Biden', end_url: 'Jazz'),
  class: 'btn-enter me-5' %>
<% end  %>
<% if session.sibling_game_sessions.count > 1 %>
  <%= link_to "0/#{session.sibling_game_sessions.count} Ready", ready_path, id: 'ready-button', class: 'btn-enter-outline me-4', data: {remote: true} %>
<% end %>

</div>
