<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <h5>How to play:</h5>
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active first">
      <%= image_tag 'page_01.png' %>
      <p>Log-in, join your friends in a lobby and start playing!</p>
    </div>
    <div class="carousel-item second">
    <%= image_tag 'page_02.jpg' %>
      <p>Try to reach the goal article by navigating through the links on the wikipedia page.</p>
    </div>
    <div class="carousel-item third">
    <%= image_tag 'page_03.jpg' %>
      <p>The faster you reach the goal article the higher your score will be.</p>
    </div>
  </div>
  <button class="carousel-control-prev d-none" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon d-none" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next d-none" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon d-none" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
