<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <h5>How to play:</h5>
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <p>Log-in anonymously with a guest account or connect your discord/twitch account.</p>
    </div>
    <div class="carousel-item">
      <p>Invite your friends to your lobby by sharing the code.</p>
    </div>
    <div class="carousel-item">
      <p>Choose a game mode, starting and ending article. Once everyone is ready it's time to start the game.</p>
    </div>
    <div class="carousel-item">
      <p>Try to reach the goal article by navigating through the links on the page.</p>
    </div>
    <div class="carousel-item">
      <p>The player who reaches the goal first wins the game.</p>
    </div>
  </div>
  <button class="carousel-control-prev d-none" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon d-none" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next d-none" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon d-none" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
