<div class="content">
  <div class='loginform-container'>
    <div class="guest-container">
      <p>play anonymously
      as a guest
      </p>
      <input type="text" name="username" placeholder='enter username' id="guest-username">
    </div>
    <div class="spacer">
      <hr>
      <p>or</p>
      <hr>
    </div>
    <div class="connect-account">
      <p>connect your
      account
      </p>
      <div class="icons">
        <div class="icon icon_twitch"><i class="fab fa-twitch"></i></div>
        <div class="icon icon_discord"><i class="fab fa-discord"></i></div>
      </div>
    </div>
    <button class='btn-enter'>enter</button>
  </div>
  <div class="rules-instructions-container">
  </div>
</div>
