<div class='loginform-container'>
  <div class="guest-container">
    <p>play anonymously as a guest</p>
    <input type="text" name="username" placeholder='enter username' id="guest-username">
  </div>
</div>
