.avatar {
  //flex-grow: 1;
  border-radius: 50%;
  width: 50px;
  background-size: cover;
  background-position: center;

  &-small {
    @extend .avatar;
    width: 45px;
    height: 45px;
  }
  &-large {
    @extend .avatar;
    width: 56px;
    height: 56px;
  }
}

.avatar-square {
  border-radius: 0px;
}

.avatar-border {
border: 2px solid $purple-primary;
}
