.button {
  border-radius: 30px;
  text-decoration: none;
  font-family: 'Source Sans Pro', sans-serif;
  border: none;
}

.button.large {
  letter-spacing: 2px;
}

.button.large.filled {
  background: $purple-primary;
  color: white;
  font-size: 16px;
  padding: 7px 35px;

  &:hover {
    background-color: darken($purple-primary, $amount: 5%);
    transition: all .15s cubic-bezier(.22,.61,.2,1);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 3px 5px;
  }
}

.button.large.empty {
  background-color: $white;
  border-color: $purple-primary;
  border-width: 2px;
  border-style: solid;
  color: $purple-primary;
  font-size: 16px;
  padding: 7px 35px;

  &:hover {
    color: $white;
    background-color: $purple-primary;
    transition: all .15s cubic-bezier(.22,.61,.2,1);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 3px 5px;
  }
}

.button.small {
  padding: 7px 20px;
  font-size: 17px;
  letter-spacing: 2px;
}

.button.small.filled {
  background-color: #FD4E18;
  color: white;
}

.button.small.empty {
  background-color: $button-gray;
  border-color: #FD4E18;
  border-width: 2px;
  border-style: solid;
  color: #FD4E18;
  border-width: thin;
}
