.chat {
  border-radius: 10px;
  background: linear-gradient(179.75deg, #fefefe 50.19%, #f0f0f9 99.76%);
  box-shadow: 25px 25px 34px rgba(63, 54, 155, 0.08);
  align-content: space-between;
  display: flex;
  flex-direction: column;
  justify-content: start;
  max-height: 100%;


  .message-board {
    margin-left: 10px;
    font-size: 0.9rem;
    padding: 10px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    max-height: 100%;
    // overflow: scroll;
    height: 50px;
    line-height: 1.5rem;

      overflow-y: scroll;
  &::-webkit-scrollbar-track
  {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.2);
    border-radius: 10px;
    background-color: #F5F5F5;
  }

  &::-webkit-scrollbar
  {
    width: 8px;
    background-color: #F5F5F5;
  }

  &::-webkit-scrollbar-thumb
  {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.1);
    border-radius: 10px;
    background-color: $purple-primary;
  }
  }

  .message {
    color: $dark-text;

    span {
      font-weight: 600;
    }
  }

  .input-group {
    height: min-content;
    padding: 0 15px;
    padding-bottom: 15px;

    input[type="text"] {
      border: none;
    }

    span {
      border: none;
    }
  }

  .message-content {
    position: relative;
    width: 100%;

    span {
      position: absolute;
      right: 11px;
      bottom: 6px;
      color: $purple-primary;
    }
  }

  .input-group-text {
    background: white;
    border-left: white;
    color: $purple-primary;
    border-radius: 10px;
  }

  .form-control {
    background: white;
    border-right: white;
    border-radius: 10px;
    button {
      border: none;
    }
  }
}
