.modal-content {
  border-radius: 30px;
  .modal-header, .modal-footer{
    justify-content: center;
    border: none;
    padding: 15px;
  }
  h1 {
    color: $purple-primary;
  }
  p {
    font-size: 24px;
    text-align: center;
  }
  .spacer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
    hr {
      width: 135px;
      margin: 1rem 45px;
    }
    p {
      margin: 0;
      color: #9ea7be;
      padding: 0 15px;
    }
  }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
