// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "sessions/index";

body {
  height: 100vh;
}

h1, h2, h3, h4, h5, p {
  padding: 0;
  margin: 0;
}

.shadow-small {
  box-shadow: $shadow-light;
}
.shadow-large {
  box-shadow: $shadow-main;
}
