<div class="modal fade noselect" id="main-modal" data-modal-target="container" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" id="score-modal">
      <%= yield %>
    </div>
  </div>
</div>
